.column {
  width: 28%;
  float: left;
  border: 1px solid gray;
  padding-left: 10px;
}

.sidebar {
  width: 12%;
  border: 1px solid gray;
  float: right;
}

.column p {
  width: 90%;
  text-align: center;
}

.sidebar p {
  text-align: center;
}

.sidebar a {
  color: orange;
}

.sidebar a:visited {
  color: gray;
}
.sidebar h3 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
